# Ignora los directorios y ficheros habituales
__pycache__/
*.pyc
.git/
.gitignore
.gcloudignore
.cache/
venv/

# EXCEPCIÓN: No ignores la carpeta chroma_db ni su contenido.
# Esto anula la regla que se hereda de .gitignore.
!chroma_db/
!chroma_db/**