flask
gunicorn
langchain>=0.3.25
langchain-core>=0.3.65
langchain-google-genai>=4.0.0
langchain-community>=0.3.24
langchain-chroma
chromadb
google-genai>=1.0.0
google-cloud-storage
pypdf
tqdm
pillow
sentence-transformers
transformers==4.44.0
PyMuPDF
python-pptx
python-docx
python-dotenv
langchain-text-splitters
langchain-huggingface
